*{
    margin:0;
    padding: 0;
}

body{
    background-color: darkcyan;
    padding: 0%;
}

h1{
width: 30%;
    background-color: #D87335;
    float: left;
 
}

h2{
    width: 30%;
    background-color:  #6647da ;
    float: left; 
  
}

h3{
width: 30%;
    background-color:  #da9747 ;
    float: left;
  
}
h4{
width: 30%;
    background-color: #6647da;
    
   
}
