{% extends "layout.html" %}

{% block content %}
    <div id="booleanos" style="display:None">{{boolean}}</div>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#465F5A" valign="top">
    <right><h3><a href="/catalogosAgregar:{{titulo}}">Agregar {{titulo}}</a></h3></right>
    <center><h3>{{tabla_plural}} 
      {% if male==True %}
        REGISTRADOS
      {% else %}
        REGISTRADAS
      {% endif %}
    </h3></center>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        {% if id_tabla==True %}
          <td color="white" style="color:white" bgcolor="blue">ID</td>
        {% endif %}

        {% for columna in columnas %}
          <td color="white" style="color:white" bgcolor="blue">{{columna}}</td>
        {% endfor %}

        <td color="white" bgcolor="black"></td>
        {% if borrado!=False %}
          <td color="white" bgcolor="black"></td>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        {% if id_tabla==True %}
          <td>{{i.0}}</td> 
        {% endif %}

        {% for campo in range(1,num_columnas+1) %}
          
          <td
            {% if boolean != None %}
              class={% for booleano in boolean %}
                {% if campo==booleano+1 %}
                    "booleanTarget" 
                {% endif %}
              {% endfor %}
            {% endif %}
          >
            {{ i[campo] }}
          </td>

        {% endfor %}

        <td bgcolor="#2B2D83" width="8%">
        {% if titulo=="Curso" %}
          <center><a href="/Apariciones_curso:{{i.0}}" >Ver Apariciones</a></center>
        {% else %}
          <center><a href="/catalogosEdita:{{titulo}}:{{i.0}}" >Editar</a></center>
        {% endif %}
        <!-- <center><a href="/area_editar/{{i.0}}" >Editar</a></center> -->
        </td>
        {% if borrado!=False %}
          <td bgcolor="#3C3EC5" width="8%">
          <center><a href="/catalogoBorrar:{{titulo}}:{{i.0}}" >Borrar</a></center>
        {% endif %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>

    <script>
      function IntToBoolean(int){
        console.log(int)
        if(int==1){
          return "Cierto"
        }else{
          return "Falso"
        }
      }

      booleanos=document.getElementsByClassName("booleanTarget")
      console.log(booleanos);
      for(let bool=0;bool<booleanos.length;bool++){
        let txt=booleanos[bool].innerText
        console.log(txt);
        booleanos[bool].innerText=IntToBoolean(txt)
      }
    </script>

{% endblock %}