{% extends "layout.html" %}

{% block content %}
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#465F5A" valign="top">
    <right><h3><a href="/catalogosAgregar:{{titulo}}">Agregar {{titulo}}</a></h3></right>
    <center><h3>{{tabla_plural}} 
      {% if male==True %}
        REGISTRADOS
      {% else %}
        REGISTRADAS
      {% endif %}
    </h3></center>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        <td color="white" bgcolor="blue">Descripcion</td>
        <td color="white" bgcolor="black"></td>
        {% if borrado!=False %}
          <td color="white" bgcolor="black"></td>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td width="80%">
           {{i.1}}
        </td>

        <td bgcolor="#2B2D83" width="8%">
        {% if titulo=="Curso" %}
          <center><a href="/Apariciones_curso:{{i.0}}" >Ver Apariciones</a></center>
        {% else %}
          <center><a href="/catalogosEdita:{{titulo}}:{{i.0}}" >Editar</a></center>
        {% endif %}
        <!-- <center><a href="/area_editar/{{i.0}}" >Editar</a></center> -->
        </td>
        {% if borrado!=False %}
          <td bgcolor="#3C3EC5" width="8%">
          <center><a href="/catalogoBorrar:{{titulo}}:{{i.0}}" >Borrar</a></center>
        {% endif %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
{% endblock %}